<tr class="clickable action-campaign" data-campaign-id="{{id}}">
    <td data-tie="text: name"></td>
    <td>
        <a class="action-edit icon icon-edit"></a><a class="action-remove icon icon-trash mls"></a>
    </td>
</tr>
