<h1 class="page-title">
    {{i18n "Campaigns"}}
    <a class="page-title-action action-new"><i class="fa fa-action fa-circle-border fa-plus"></i></a>
</h1>
<table class="table-flat">
    <thead class="table-flat-head">
        <tr>
            <td class="c90">{{i18n "Name"}}</td>
            <td class="c10">{{i18n "Actions"}}</td>
        </tr>
    </thead>
    <tbody class="js-items"></tbody>
</table>
