<tr class="clickable action-campaign" data-campaign-id="{{id}}">
    <td data-tie="text: name"></td>
    <td>
        <a class="action-edit"><i class="fa fa-pencil fa-circle-border fa-grey"></a>
        <a class="action-remove"><i class="fa fa-pencil fa-circle-border fa-grey"></a>
    </td>
</tr>
