<h1 class="page-title">
    {{i18n "Campaigns"}}
    <a class="page-title-button btn btn-primary action-new"><i class="fa fa-plus"></i> {{i18n "Add campaign"}}</a>
</h1>
<table class="table-flat">
    <thead class="table-flat-head">
        <tr>
            <td class="c85">{{i18n "Name"}}</td>
            <td class="c15">{{i18n "Actions"}}</td>
        </tr>
    </thead>
    <tbody class="js-items"></tbody>
</table>
