<div class="pal">
    <p class="mbl">{{{text}}}</p>
    <button class="btn btn-primary pull-right js-confirm-button" type="submit">{{confirmLabel}}</button>
    {{#if cancelLabel}}
    <button class="btn pull-right js-cancel-button mrm">{{cancelLabel}}</button>
    {{/if}}
    <div class="clearfix"></div>
</div>
