<div class="panel panel-primary">
    <div class="panel-heading">{{i18n "Missions"}}</div>
    <table class="table">
        <tbody class="js-items"></tbody>
    </table>
    <div class="panel-footer js-footer"></div>
</div>
