<div class="panel panel-primary">
    <div class="panel-heading">
        <button class="btn btn-success pull-right action-new">{{i18n "New"}}</button>
        <h5>{{i18n "Missions"}}</h5>
    </div>
    <table class="table">
        <tbody class="js-items"></tbody>
    </table>
    <div class="panel-footer js-footer"></div>
</div>
