<h1 class="page-title">
    <a class="action-missions breadcrump">{{i18n "Missions"}}</a> <i class="fa fa-angle-double-right"></i> <span data-tie="text: name"></span>
</h1>
<div class="js-jobs"></div>
