<tr class="clickable action-mission" data-mission-id="{{id}}">
    <td data-tie="text: name"></td>
    <td>
        <a class="action-stop-mission"><i class="icon-stop" data-tie="visible: isQueued"></i></a>
        <a class="action-stop-mission"><i class="icon-stop" data-tie="visible: isRunning"></i></a>
        <a class="action-start-mission"><i class="icon-play" data-tie="visible: isStopped"></i></a>
    </td>
</tr>
