<div class="well sidebar-nav">
    <ul class="nav js-items">
        <li class="js-item-header">{{i18n "Missions"}}</li>
        <li><a class="action-new">{{i18n "New mission..."}}</a></li>
    </ul>
</div>
