<div class="sidebar-item action-campaigns">{{i18n "Campaigns"}}</div>
<div class="sidebar-item action-campaigns">{{i18n "Missions"}}</div>
<div class="sidebar-item action-campaigns">{{i18n "Headquarters"}}</div>
<hr class="sidebar-divider"></div>
<div class="sidebar-item action-settings">{{i18n "Settings"}}</div>
