<div class="sidebar-item action-campaigns clickable" data-section="campaigns">
    <i class="sidebar-icon fa fa-shield"></i> {{i18n "Campaigns"}}
</div>
<div class="sidebar-item action-missions clickable" data-section="missions">
    <i class="sidebar-icon fa fa-fighter-jet"></i> {{i18n "Missions"}}
</div>
<div class="sidebar-item action-headquarters clickable" data-section="headquarters">
    <i class="sidebar-icon fa fa-dashboard"></i> {{i18n "Headquarters"}}
</div>
<div class="sidebar-item action-settings clickable" data-section="settings">
    <i class="sidebar-icon fa fa-cog"></i> {{i18n "Settings"}}
</div>
