<div class="js-header"></div>
<div class="sidebar js-sidebar"></div>
<div class="main">
    <div class="js-exception"></div>
    <div class="js-main"></div>
</div>
<div class="js-lightbox-container"></div>
