<div class="navbar navbar-fixed-top navbar-inverse js-navbar" role="navigation"></div>
<div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas js-sidebar" role="navigation"></div>
        <div class="col-xs-12 col-sm-9">
            <p class="pull-left visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">{{i18n "Toggle menu"}}</button>
            </p>
            <div class="js-main"></div>
        </div>
    </div>
    <hr>
    <footer>
        <p>© Arend van Beelen 2013 - {{i18n "Licensed under GPLv3"}}</p>
    </footer>
</div>
<div class="js-lightbox-container"></div>
