<div class="well sidebar-nav">
    <ul class="nav js-items">
        <li class="js-item-header">{{i18n "Slaves"}}</li>
        <!--<li><a class="action-new">{{i18n "New slave..."}}</a></li>-->
    </ul>
</div>
