
@import "variables.less";

@header-height: 68px;
@sidebar-width: 200px;


a, .clickable {
    cursor: pointer;
}

body {
    background: #f3f3f3;
    color: @text-color;
    height: 100%;
}

footer {
    padding-left: 15px;
    padding-right: 15px;
}

html {
    height: 100%;
}

input[type=radio] {
    appearance: none;
    -webkit-appearance: none;
    background: url(/img/radiobox.png) no-repeat;
    background-size: contain;
    height: 20px;
    margin-bottom: -5px;
    width: 20px;
}

input[type=radio]:checked {
    background: url(/img/radiobox-selected.png) no-repeat;
    background-size: contain;
}

input[type=radio]:focus {
    outline: none;
}

.command-input {
    font-family: Fixed, monospace;
}

.inline {
    display: inline-block;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}


/**********
 * Header *
 **********/

.header {
    background: #3b3a3f;
    border-bottom: 2px solid #2c2b30;
}
.header-logo {
    background: url(/img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    display: inline-block;
    height: 36px;
    margin: 15px;
    width: 126px;
}
.header-logo:hover {
    color: transparent;
}
.header-menu-icon {
    color: #fff;
    display: none;
    float: left;
    font-size: 25px;
    line-height: 25px;
    padding: 20px;
}
.header-menu-icon:hover {
    color: #fff;
}

@media all and (max-width: 767px) {
    .header-menu-icon {
        display: inline-block;
    }
}


/***********
 * Sidebar *
 ***********/

.sidebar {
    background: @gray-lightest;
    border-right: 2px solid @gray-lighter;
    height: calc(100% - @header-height);
    left: 0px;
    position: relative;
    width: (@sidebar-width - 2px);
}

.sidebar-item {
    border-bottom: 0.1em solid @gray-lighter;
    font-size: 15px;
    margin: 0 15px;
    padding: 10px;
}
.sidebar-item.active {
    background: #5c6167;
    color: #fff;
    margin: 0;
    padding: 10px 25px;
}
.sidebar-icon {
    font-size: 22px;
    margin: 4px 4px 0 0;
    text-align: center;
    position: relative;
    top: -3px;
    vertical-align: middle;
    width: 24px;
}

@media all and (max-width: 767px) {
    .sidebar {
        border-right: 0;
        display: none;
        position: static;
        width: 100%;
    }
}


/********
 * Main *
 ********/

.main {
    background: #f3f3f3;
    bottom: 0px;
    padding: 0 15% 0 5%;
    position: absolute;
    right: 0px;
    top: 71px;
    width: calc(100% - @sidebar-width);
}

@media all and (max-width: 1259px) {
    .main {
        padding: 0 8% 0 4%;
    }
}
@media all and (max-width: 1099px) {
    .main {
        padding: 0 4% 0 2%;
    }
}
@media all and (max-width: 767px) {
    .main {
        padding: 0 2%;
        position: static;
        width: 100%;
    }
}


/**************
 * Page title *
 **************/

.page-title {
    border-bottom: 1px solid @gray-lighter;
    font-size: 22px;
    margin: 20px 0;
    padding: 0 0 0.5em;
}

.page-title-action {
    float: right;
    font-size: 60%;
}

.page-title-button {
    float: right;
    font-size: 60%;
    position: relative;
    top: -6px;
}

.page-column-left {
    float: left;
    min-width: 340px;
    width: 48%;
}
.page-column-right {
    float: left;
    margin-left: 4%;
    width: 48%;
}

.page-section-separator {
    border-top: 0;
    border-bottom: 0.1em solid @gray-lighter;
    margin: 1em 0;
    height: 0px;
    width: 100%;
}


/**************
 * Flat tables *
 **************/

.table-flat {
    border: 1px solid @gray-lighter;
    width: 100%;

    tbody {
        background: #fff;
    }
    thead {
        border-bottom: 1px solid @gray-lighter;
    }
    td {
        border-left: 1px solid @gray-lighter;
        line-height: 1;
        padding: 10px;
    }
    td:first-child {
        border-left: 0;
    }
    tr {
        border-top: 1px solid @gray-lighter;
    }
    tr:first-child {
        border-top: 0;
    }
}

.table-flat-head {
    background: @gray-lightest;
}


/********************
 * Progress buttons *
 ********************/

.btn.btn-progress {
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-repeat: repeat;
    background-size: 14px 14px;
    -webkit-animation: progress-bar-stripes 4s linear infinite;
    animation: progress-bar-stripes 4s linear infinite;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
    box-shadow: none;
}
.btn-primary.btn-progress {
    background-color: @btn-primary-bg;
}


/******************
 * Input elements *
 ******************/

.inline-control {
    background-color: @input-bg;
    border: 2px solid @input-border;
    border-radius: @input-border-radius;
    color: @input-color;
    font-size: @font-size-base;
    line-height: @line-height-base;
}


/*********
 * Icons *
 *********/

.fa-fighter-jet {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.icon {
    background-size: contain;
    display: inline-block;
    height: 29px;
    width: 29px;
}

.icon-check {
    background: url(/img/check.png) no-repeat;
}
.icon-edit {
    background: url(/img/edit.png) no-repeat;
}
.icon-play {
    background: url(/img/play.png) no-repeat;
}
.icon-refresh {
    background: url(/img/refresh.png) no-repeat;
}
.icon-remove {
    background: url(/img/remove.png) no-repeat;
}
.icon-stop {
    background: url(/img/stop.png) no-repeat;
}
.icon-trash {
    background: url(/img/trash.png) no-repeat;
}


/**********
 * Phases *
 **********/

.phase {
    background: #fff;
    border-radius: @border-radius-small;
    margin-bottom: 5px;
}
.phase-id {
    color: @gray;
    padding: 7px 10px 5px;
}
.phase-missions {
    padding: 5px 10px 7px;
}
.phase-editable-mission {
    background: @link-color;
    border-radius: @border-radius-small;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;
}
.phase-remove-mission {
    color: #fff;
}


/********************
 * Status indicator *
 ********************/

.status-indicator {
    font-size: 21px;
    text-align: center;
}
.status-unavailable {
    color: @gray-light;
}
.status-queued {
    color: @brand-info;
}
.status-running {
    color: @brand-info;
}
.status-failed {
    color: @brand-danger;
}
.status-success {
    color: @brand-success;
}


/******************************************
 * Margins & Paddings                     *
 * -------------------------------------- *
 * a: all                n: none          *
 * t: top                t: tiny (2px)    *
 * r: right              s: small (5px)   *
 * b: bottom             m: medium (10px) *
 * l: left               l: large (15px)  *
 * h: horizontal         h: huge (20px)   *
 * v: vertical                            *
 ******************************************/

.man { margin: 0 }
.mat { margin: 2px }
.mas { margin: 5px }
.mam { margin: 10px }
.mal { margin: 15px }
.mah { margin: 20px }

.mtn { margin-top: 0 }
.mtt { margin-top: 2px }
.mts { margin-top: 5px }
.mtm { margin-top: 10px }
.mtl { margin-top: 15px }
.mth { margin-top: 20px }

.mrn { margin-right: 0 }
.mrt { margin-right: 2px }
.mrs { margin-right: 5px }
.mrm { margin-right: 10px }
.mrl { margin-right: 15px }
.mrh { margin-right: 20px }

.mbn { margin-bottom: 0 }
.mbt { margin-bottom: 2px }
.mbs { margin-bottom: 5px }
.mbm { margin-bottom: 10px }
.mbl { margin-bottom: 15px }
.mbh { margin-bottom: 20px }

.mln { margin-left: 0 }
.mlt { margin-left: 2px }
.mls { margin-left: 5px }
.mlm { margin-left: 10px }
.mll { margin-left: 15px }
.mlh { margin-left: 20px }

.mhn { margin-left: 0; margin-right: 0 }
.mht { margin-left: 2px; margin-right: 2px }
.mhs { margin-left: 5px; margin-right: 5px }
.mhm { margin-left: 10px; margin-right: 10px }
.mhl { margin-left: 15px; margin-right: 15px }
.mhh { margin-left: 20px; margin-right: 20px }

.mvn { margin-top: 0; margin-bottom: 0 }
.mvt { margin-top: 2px; margin-bottom: 2px }
.mvs { margin-top: 5px; margin-bottom: 5px }
.mvm { margin-top: 10px; margin-bottom: 10px }
.mvl { margin-top: 15px; margin-bottom: 15px }
.mvh { margin-top: 20px; margin-bottom: 20px }

.pan { padding: 0 }
.pat { padding: 2px }
.pas { padding: 5px }
.pam { padding: 10px }
.pal { padding: 15px }
.pah { padding: 20px }

.ptn { padding-top: 0 }
.ptt { padding-top: 2px }
.pts { padding-top: 5px }
.ptm { padding-top: 10px }
.ptl { padding-top: 15px }
.pth { padding-top: 20px }

.prn { padding-right: 0 }
.prt { padding-right: 2px }
.prs { padding-right: 5px }
.prm { padding-right: 10px }
.prl { padding-right: 15px }
.prh { padding-right: 20px }

.pbn { padding-bottom: 0 }
.pbt { padding-bottom: 2px }
.pbs { padding-bottom: 5px }
.pbm { padding-bottom: 10px }
.pbl { padding-bottom: 15px }
.pbh { padding-bottom: 20px }

.pln { padding-left: 0 }
.plt { padding-left: 2px }
.pls { padding-left: 5px }
.plm { padding-left: 10px }
.pll { padding-left: 15px }
.plh { padding-left: 20px }

.phn { padding-left: 0; padding-right: 0 }
.pht { padding-left: 2px; padding-right: 2px }
.phs { padding-left: 5px; padding-right: 5px }
.phm { padding-left: 10px; padding-right: 10px }
.phl { padding-left: 15px; padding-right: 15px }
.phh { padding-left: 20px; padding-right: 20px }

.pvn { padding-top: 0; padding-bottom: 0 }
.pvt { padding-top: 2px; padding-bottom: 2px }
.pvs { padding-top: 5px; padding-bottom: 5px }
.pvm { padding-top: 10px; padding-bottom: 10px }
.pvl { padding-top: 15px; padding-bottom: 15px }
.pvh { padding-top: 20px; padding-bottom: 20px }


/*****************
 * Column widths *
 *****************/

.c05 { width:  5% }
.c10 { width: 10% }
.c15 { width: 15% }
.c20 { width: 20% }
.c25 { width: 25% }
.c30 { width: 30% }
.c35 { width: 35% }
.c40 { width: 40% }
.c45 { width: 45% }
.c50 { width: 50% }
.c55 { width: 55% }
.c60 { width: 60% }
.c65 { width: 65% }
.c70 { width: 70% }
.c75 { width: 75% }
.c80 { width: 80% }
.c85 { width: 85% }
.c90 { width: 90% }
.c95 { width: 95% }
